#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.WholeCard{
  align-content: center;
  padding: 8%;
  width: 250px;
  height: 450px;
  background-color: white;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.BookCover{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80%;
  border-radius: 2%;
  
}

.authorName{
  font-weight:300 ;
  font-size: large ;
  color: grey;
}

.BookName{
  font-weight:800 ;
  font-size: 25px ;
  margin-top: 3%;
}

.Bookprice{
  font-weight:bold ;
  font-size: large ;
}
